body{
   margin: 0%;
}
.navigation {
    display: inline-flex;
    vertical-align: top;
    width: 100%;
    padding: 1%;
    background-color: lightslategray;
 }
 .nav {
   margin-right: 30px !important;
   margin-left: auto;
   align-items: center;
   justify-content: flex-end;
   font-family: 'Montserrat', sans-serif; 
   color: white;
 }
.nav-link {
   color: white;
}
 .logo {
    position: static;
    left: 18px;
    top: 18px;
    margin-left: 30px;
    /* display: flex;
    width: 10%;
    padding: 1%;
    align-items: left; */
    /* margin-left: 30px; */
 }
 ul{
    display: flex;
    width: 50%;
   margin-left: auto;
 }
 #heroImg {
    /* height: 300px;
    display: block;
    padding: 25px;
    overflow: hidden; */
 }
 .inline-block{
    width: 500px;
    margin: 0 auto 0;
 }
 footer {
    background-color: #6d6d74;
    height: 50px;
    text-align: center;
    /* margin-top: 10px; */
 
   }
.content{
   
   background-color:#819EA9;
   padding: 20px;
   padding-top: 20px;
   margin: auto;
   width: 400px;
   }

 .flexContainer {
 display: flex;
 background-color: #819EA9;
 /* flex-wrap: wrap; */
 /* width: 100%; */
 margin-left: 50px;
 margin-right: 50px;
 /* height: 70vh; */
 }
 .skillTypes{
    margin: 40px;
    padding: 20px;
    background-color: rgb(252, 250, 248);
 }
 

 /* * {
outline: 1px solid red;

 } */

.workGrid {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
   grid-template-areas: 
   "img1 content1 content1"
   "img1 . cta1"
   "img2 content2 content2"
   "img2 . cta2"
   "img3 content3 content3"
   "img3 . cta3";
   padding: 10px;
   border: 20px;
   margin: 30px;
}
.workGridItem {
   margin-bottom: 20px;
   background-color:#819EA9;
   border-radius: 15px;
   margin: 30px;

}

#img1{
   grid-area: img1;
   
}
#content1{
   grid-area: content1;
}
#cta1{
   grid-area: cta1;
}
#img2{
   grid-area: img2;
}
#content2{
   grid-area: content2;
}
#cta2{
   grid-area: cta2;
}
#img3{
   grid-area: img3;
}
#content3{
   grid-area: content3;
}
#cta3{
   grid-area: cta3;
}
.workGrid img {
   width: 500px;
}

h1{
   padding: 15px;
   margin-left: 24px;
   font-family: 'Montserrat', sans-serif;
}
h3{
   padding: 15px;
   margin-left: 24px;
   font-family: 'Montserrat', sans-serif;
}
h4 {
   margin-top: 40px;
   padding: 15px;  
   font-family: 'Montserrat', sans-serif;
}
h5 {
   padding-top: 20px;
   padding-left: 10px;
   font-size: 14;
   font-family: 'Montserrat', sans-serif;
   color: white;
}
h6 {
   font-size: 14;
   font-family: 'Montserrat', sans-serif;
   color: white;
   padding: 12px;
}
p {
   padding: 15px;
   font-family: 'Esteban', serif;
}

/* The Modal (background) */
.popup {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; 
   left: 0;
   top: 0;
   width: 100vw !important; 
   height: 100vh; 
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   justify-content: center;
   align-items: center;
 }
 
 /* Modal Content/Box */
 .popup-content {
   background-color: white;
   /* margin: 0% auto;  */
   padding: 20px;
   border: 1px solid #888;
   /* width: 80%; */
   
 }
 .modal-content img {
   align-content: center;
   outline: auto rgb(59, 59, 59) .5px;
 }

 #showResume {
   border-radius: 5px;
   outline: auto rgb(59, 59, 59) 3px;
   background-color: #ffffff;

 }
 
#showResume:hover,
#showResume:focus {
   color: black;
   
   text-decoration: none;
   cursor: pointer;
}

 /* The Close Button */
 .close {
   color: #aaa;
   /* float: right; */
   /* margin: right; */
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

 .nav-link:hover,
 .nav-link:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }



/* /////MEDIA Section///// */

@media only screen and (max-width: 100px) {
   .flexContainer {
      flex-direction: column;
   }
   /* .skillTypes {
      width: 100%;
   } */

   .workGrid {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: 
    "img1" "content1" "cta1"
    "img2" "content2" "cta2"
    "img3" "content3" "cta3";
    }
 

}
@media only screen and (max-width: 600px) {
   .flexContainer {
      flex-direction: column;
   }
   /* .skillTypes {
      width: 100%;
   } */

   .workGrid {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: 
    "img1" "content1" "cta1"
    "img2" "content2" "cta2"
    "img3" "content3" "cta3";
    }
 

}

